.contenedor-galeria{
    display: none;
    
    
    @include tablet{
     
        padding-bottom:4rem;
        display: block;
    }
    
}

.creacion, .creacion-mobile{
    font-size: 3rem;
    font-weight: $bold;
    text-transform: uppercase;  
    
    @include tablet{
        font-size: 4rem;
             
    }
        
}


.title-galeria{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    .boton-all{
        border: 1px solid $grisOscuro;
        font-size: 2rem;
        padding: 1rem 3rem ;
        transition: all .3s ease;   
        text-transform: uppercase;
        font-weight: $bold;
        &:hover{
            background-color: $Black;
            color: $White;
            transform: scale(1.2);
        }   



    }

.imagenes-contenido{

    
    @include tablet{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    
 
    @include desktop{
        grid-template-columns: repeat(4, 1fr);
    }
    .imagen-cuadricula{
        position: relative;
        width: 100%;
        display: flex;


    }
    .info{
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        background: rgba(0, 0, 0, 0.466);
        height: 100%;
        width: 100%;
       
        opacity: 0;
       
     

    }

    p{
        color: $White;
        font-size: 3rem;
        text-transform: uppercase;
        line-height: 3rem;
        font-weight: bold;
        max-width: 17rem;
        margin-left: 2rem;
     
    }    
   

}
.imagen-cuadricula:hover .info,  p{
    opacity: 1;
    transition: .3s all ease-in; 
}
