.dark-mode{
    width: 3rem;
    
    img{
        margin-top: 3rem;
        filter: invert(100%);
    }
}
.oscuro-agregado{
    transition: all .3s ease-in;
    background-color: darken($grisOscuro, 7);

    .creacion, .boton-all{
        color: $White;

    }
    
    .dark-mode{
        transition: all .3s ease-in;
        filter: invert(80%);
    }
    .boton-down{
        border: 1px solid $White;
        color: $White;
    }
    .contenido-interactivo{
        transition: all .3s ease-in;
        background-color: darken($grisOscuro, 7);

        .titulo-interactivo, .parrafo-interactivo{
            color: $White;
        }
    }
    
}