.header{
    position: relative;
    background-image: url(/build/img/desktop/image-hero.webp);
    width: auto;
    max-height: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;   
}
.header::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0 , 0, .5);
   
}
.contenedor{
    position: relative;
}

.barra-navegacion{
    
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $White;
 



}
.logotipo{
    font-size: 3rem;
    font-family: $fuente-secundaria;
    margin-top: 0;
}
.cerrar{
    width: 3rem;
    position: relative;
    right: 10px;
    z-index: +3;


    @include tablet{
        display: none;
    }
}

.navegacion{
    display: none;

    @include tablet{
        display: block;
        position: inherit;
        border: none;
        top: none;
        right: none;
        padding: 0;
        visibility: visible;
        opacity: 1;
    }
    nav{
        display: flex;
        flex-direction: row;
    }
}  


.new-image{
    background-image: url(/images/icon-close.svg);
}

.frase{
    padding-bottom: 5rem;
    padding-top: 10rem;
 

    @include desktop{
        padding-top: 20rem;
    
    }

    
    .contenido-frase{
        font-size: 2.5rem;
        text-transform: uppercase;
        color: $White;
        border: 4px solid $White;
        line-height: 4rem;


        @include tablet{
            font-size: 8rem;
            max-width: 80rem;
            max-height: 40rem;
            line-height: 10rem;
            
        }

        p{
            margin: 0;
            padding: 2rem;
            max-width: auto;
            font-size: auto;
            line-height: 6rem;
            font-weight: bold;
            

            @include tablet{
                max-width: inherit;
                font-size: 7rem;
                line-height: 7rem;
            }
        
        }
    }
}

.enlaces{

    margin-bottom: 1.5rem;
    color: $White;
    font-size: 1.8rem;
    font-weight: $ultra-bold;
    line-height: 3rem;
    position: relative;

    &:hover{
        color: $Dark-Gray;
    }
    
    &:before{
        content: "";
        display: block;
        margin: 0;
        width: 0;
        height: 3px;
        background: $White;
        position: absolute;
        bottom: 0;
        transition: all .3s;
    }
    &:hover:before{
        width: 100%;
        
    }


    @include tablet{
        margin-right: 1.5rem;
    }
}


.enlaces{
    &:before{
        left: 50%;
    }
    &:hover:before{
        left: 0;
    }

}


.navegacion-mobile{
    position: absolute;
    z-index: +3;
    top: 120px;
    right: 0px;
    border: 1px solid white;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    transition: all .3s ease-in-out;



    .nav-mobile{
        display: flex;
        justify-content: space-between;
     
        flex-direction: row;
        background-color: rgb(20, 20, 20);
        padding: 1rem;

        a{
            margin-bottom: 0;
        }

    }

    @include tablet{
        display: none;
    }


}
.mostrar{
    
    visibility: visible;
    opacity: 1;
}    

