.main{
    padding: 7rem 0 7rem 0;

    .encimados{
        @include desktop{
            display: flex;
            justify-content: center;
        }
        img{

            @include desktop{
                width: 80%;
                height: 55rem;
                object-fit: cover;
                
            }
            
        }
        
    }
    
 }
.contenido-interactivo{
    background-color: rgb(247, 236, 236);
    max-width: 50rem;
    height: 20rem;
    margin: 0 auto;

   

    @include desktop{
    
        position: absolute;
        padding: 5rem;
        top: 260px;
        left: 550px;
        width: 50rem;
        height: 40rem;
   

      
    }
    .titulo-interactivo{

        
        font-size: 2rem;
        text-transform: uppercase;
        line-height: 4rem;
        text-align: center;
        @include tablet{
            text-align: left;
            font-size: 3rem;
        }
        @include desktop{
            font-size: 4rem;
            
        }
        

    
     
    }
    .parrafo-interactivo{
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: $bold;
        text-align: center;
        @include tablet{
            text-align: left;
        }
        
     
    }

    
}